/* frontend/css/style.css */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.login-container {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
	text-align: left;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box; /* Para que el padding no aumente el ancho */
}

button {
	background-color: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #0056b3;
}

.error-message {
	color: red;
	margin-top: 10px;
}

header {
	background-color: #333;
	color: white;
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 0;
	font-size: 24px;
}

nav a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
	padding: 5px 10px;
	border-radius: 4px;
}

nav a:hover {
	background-color: #555;
}

main {
	padding: 20px;
	flex-grow: 1; /* Ocupa el espacio restante */
}

#logoutButton {
	background-color: #dc3545;
}
#logoutButton:hover {
	background-color: #c82333;
}